{% load static %}
<!doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
     <title>Document</title>
</head>
<body onloadstart="doStuff()">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                   <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <a class="navbar-brand" href="#">Navbar</a>
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                             <span class="navbar-toggler-icon"></span>
                                </button>
                                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                      <ul class="navbar-nav mr-auto">
                                         <li class="nav-item active">
                                            <a class="nav-link" href="#">Home </a>
                                         </li>
                                         <li class="nav-item">
                                           <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover">
                                                   Cart(0)
                                           </button>
                                         </li>
                                      </ul>
                                 </div>
                   </nav>
             </div>
         </div>
          <div class="row">
               <div class="col-md-12">
                    <form class="card card-sm">
                          <div class="card-body row row-no-gutters align-items-center">
                               <div class="col">
                                    <input type="search" name="item-name" placeholder="Search for product" class="form-control  form-control-borderless">
                               </div>
                               <div class="col-auto">
                                    <button class="btn btn-success" type="submit">Search</button>
                               </div>
                          </div>
                    </form>
               </div>
          </div>
          <div class="row">
               {% for product in product_objects %}
               <div class="col-md-4">
                    <div class="card">
                         <img src="{{ product.image }}" class="card-img-top">
                         <div class="card-body">
                              <div id="b{{ product.id }}" class="card-title">
                                  {{ product.title }}
                              </div>
                              <div class="card-text">
                                   {{ product.price }}
                              </div>

                             <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                              <button id="{{ product.id }}" class="btn atc btn-warning">Add to cart</button>
                         </div>
                    </div>
               </div>
               {% endfor %}
          </div>
          <!--  <div class="row">
                 <div class="col-md-3 offset-md-4">
                      <ul class="pagination">
                          {% if product_objects.has_previous %}
                              <li class="page-item">
                                   <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                              </li>
                           {% endif %}
                              <li class="page-item active">
                                   <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                              </li>
                           {% if product_objects.has_next %}
                              <li class="page-item">
                                   <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                              </li>
                           {% endif %}
                      </ul>
                 </div>
            </div>-->
     </div>

</body>
<script type="text/javascript">
   // window.onload = doStuff;
    function doStuff() {
           //console.log("Hi there it is working");
   if(localStorage.getItem('cart')==null){
       var cart = {};
   }
   else{
        cart = JSON.parse(localStorage.getItem('cart'));

   }
  $(document).on('click','.atc', function () {
       console.log("The add to cart button is clicked");
       var item_id = this.id.toString();
       //console.log(item_id);
       if (cart[item_id] !==  undefined ){
       cart[item_id] = cart[item_id] + 1;
     }
     else{
     cart[item_id] = 1;
     }
     console.log(cart);
     localStorage.setItem('cart',JSON.stringify(cart));
     document.getElementById("cart").innerHTML = "Cart(" +  Object.keys(cart).length + ")";

   });

DisplayCart(cart);
function DisplayCart(cart) {
    var carString = "";
    carString += "<h5>This is your cart</h5>";
       var cartIndex = 1;
       for (var x in cart){
            carString+=cartIndex;
            carString += document.getElementById("b"+x).innerHTML + "Qty: " + cart[x]
            cartIndex+=1;
       }
       document.getElementById("cart").setAttribute('data-content', carString);
      $('[data-toggle="popover"]').popover();
}
    }

</script>
</html>













